@use 'utils/fonts.scss' as *;
@use 'utils/variables.scss' as *;
@use 'components/header.scss' as *;
@use 'components/content.scss' as *;
@use 'components/cards.scss' as *;
@use 'components/team.scss' as *;
@use 'components/company.scss' as *;
@use 'components/publications.scss' as *;
@use 'components/footer.scss' as *;
@use 'utils/media.scss' as *;

html {
  font-size: 18px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body,
h2,
h1,
h3,
h4 {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.note::after {
  content: url(../img/Vector.svg);
  margin-left: 5.5px;
}

.lang__switcher__link:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}