@use 'utils/fonts.scss' as *;
@use 'utils/variables.scss' as *;
@use 'components/header.scss' as *;
@use 'components/content.scss' as *;
@use 'components/cards.scss' as *;
@use 'components/team.scss' as *;
@use 'components/company.scss' as *;
@use 'components/publications.scss' as *;
@use 'components/footer.scss' as *;
@use 'utils/media.scss' as *;
@use 'main.scss' as *;

.header__logo {
  padding-bottom: 0;
}

.card__description {
  margin-top: 15px;
}

.title {
  margin-top: 0;
}

.card__title:hover {
  color: #F0145A;
}

.section__company {
  padding-top: 90px;
}

.lang__switcher__link:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  gap: 4px;

  &__link {
    display: flex;
    padding-left: 15px;
  }

  &__link::after {
    display: inline-block;
    margin-left: 4px;
    content: url(../../img/Slash2.svg);
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }
}

.footer {
  padding-top: 0;
}

.footer__container {
  border: none;
}

.header__container--logo {
  padding-bottom: 0px;
}

@media screen and (min-width: $tablet-small) {
  .breadcrumb__text {
    font-size: 36px;
    line-height: 44px;
  }

  .breadcrumb__link::after {
    content: url(../../img/slash.svg);
    width: 21px;
    height: 47px;
  }

  .breadcrumb__link {
    padding-left: 0;
  }

  .menu-is-active {
    color: #F0145A;
    border-bottom: 2px solid #F0145A;
    ;
  }
    
}

@media screen and (min-width: $tablet) {
  .section__services {
    padding-top: 60px;
  }
}