@use '../utils/variables.scss' as *;

@media screen and (min-width: $tablet-small) {

    .header__nav {
      padding-top: 50px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 30px;
      justify-content: flex-start;    
      gap: 30px;
    }
  
    .header_lang_contacts {
      padding: 0;
      justify-content: flex-start;
      background-color: transparent;
    }
  
    .logo__param {
      width: 130px;
      height: 60px;
    }
  
    .header__logo {
      padding: 0;
    }
  
    .contacts__compact {
      display: flex;
      align-items: center;
    }
  
    .contacts__compact__adress {
      display: block;
      z-index: 1;
    }
  
    .contacts__compact__adress::before {
      content: "";
      display: inline-block;
      height: 6px;
      width: 6px;
      background-color: #E6E6F0;
      border-radius: 50%;
      margin-right: 6px;
      margin-left: 6px;
      
      transition: background-color 200ms;
    }
  
    .contacts__compact__phone::before {
      content: "";
      display: inline-block;
      height: 6px;
      width: 6px;
      background-color: #E6E6F0;
      border-radius: 50%;
      margin-right: 6px;
      margin-left: 6px;
      
      transition: background-color 200ms;
    }
  
    .contacts__compact__face {
      display: block;
    }
  
    .contacts__compact__phone::after {
      content: "";
      display: inline-block;
      height: 6px;
      width: 6px;
      background-color: #E6E6F0;
      border-radius: 50%;
      margin-right: 6px;
      margin-left: 6px;
      
      transition: background-color 200ms;
    }
  
    .header__text {
      width: 800px;
      height: 46px;
      left: calc(50% - 800px/2);
      top: calc(50% - 46px/2);
    }
  
    .header__menu {
      display: flex;
      gap: 15px;
    }
  
    .header__container--logo {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }
  
    .wrapper_menu {
      z-index: 1;
    }
  
    .header-menu-item {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */
  
      text-align: right;
      /* Basic/White */
  
      color: #FFFFFF;
    }
  
    .menu-btn {
      display: none;
    }
  
    .content {
      padding: 60px;
      padding-bottom: 30px;
    }
  
    .content-list-item {
      font-size: 38px;
      line-height: 46px;
    }
  
    .content-list {
      padding-bottom: 60px;
    }
  
    .text-card__title {
      font-size: 30px;
      line-height: 37px;
    }
  
    .content-description {
      padding-top: 60px;
    }
  
    .section__services {
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 60px;
    }
  
    .title {
      margin-bottom: 60px;
      font-size: 38px;
      line-height: 46px;
    }
  
    .services__card {
      gap: 60px;
    }
  
    .card {
      width: 294px;
    }
  
    .section__team {
      padding: 60px;
      padding-top: 80px;
      padding-bottom: 30px;
    }
  
    .team__words {
      font-size: 38px;
      line-height: 46px;
    }
  
    .container__team {
      width: 648px;
      display: flex;
      flex-direction: column;
    }
  
    .img__border {
      width: 648px;
      height: 500px;
    }
  
    .back_blue {
      width: 256px;
    }
  
    .container__company {
      justify-content: center;
    }
  
    .logo__none {
      display: flex;
    }
  
    .section__publications {
      padding-left: 60px;
      padding-right: 60px;
    }
  
    .title__botoom {
      margin-bottom: 30px;
    }
  
    .card__publications {
      min-width: 309px;
      flex: 1;
    }
  
    .card__gap {
      gap: 30px;
    }
  
    .footer {
      padding-left: 60px;
      padding-right: 60px;
    }
  
    .footer__container {
      padding-top: 30px;
      flex-direction: row;
      flex-wrap: wrap;
      border-top: 2px solid #E6E6F0;
      justify-content: space-between;
      gap: 21px;
    }
  
    .footer__adress {
      padding: 0;
    }
  
    .img__face {
      margin: 0px;
      margin: 0px;
    }
  
    .block {
      flex-direction: row;
    }
  
    .footer__note {
      margin: 0;
    }
  
    .bl1 {
      order: 1;
    }
  
    .bl2 {
      order: 3;
    }
  
    .bl3 {
      order: 2;
    }
  
    .img__publications {
      width: 100%;
    }
  
    .footer__adress::after {
      content: "";
      display: inline-block;
      height: 6px;
      width: 6px;
      background-color: #B3B3BA;
      border-radius: 50%;
      margin-left: 10px;
      
      transition: background-color 200ms;
    }
  
    .footer__number::after {
      content: "";
      display: inline-block;
      height: 6px;
      width: 6px;
      background-color: #B3B3BA;
      border-radius: 50%;
      margin-left: 10px;
      
      transition: background-color 200ms;
    }
  
    .footer__number::before {
      content: "";
      display: inline-block;
      height: 6px;
      width: 6px;
      background-color: #B3B3BA;
      border-radius: 50%;
      margin-right: 10px;
      
      transition: background-color 200ms;
    }
  
  }
  
  @media screen and (min-width: $tablet) { 
  
  .header--container {
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .header__nav {
    padding: 0;
    flex-wrap: wrap;
    gap: 0;
    height: 66px;
    justify-content: space-between;
  }
  
  .header_lang_contacts {
    height: 25px; 
  }
  
  .header_lang_contacts,
  .wrapper_menu {
    height: 28px;
  }
  
  .header__container--logo{
    min-width: 50%;
    height: 66px;
    order: -1;
  }
  
  .header__menu,
  .header_lang_contacts {
    justify-content: flex-end;
  }
  
  .content-list {
    flex-direction: column;
  }
  
  .content {
    flex-flow: row;
    justify-content: center;
    gap: 60px;
  }
  
  .content-list {
    padding: 0;
    align-items: flex-end;
    min-width: 375px;
  }
  
  .content-description {
    padding: 0;
    width: 465px;
    padding-left: 60px;
    border: none;
    border-left: 4px solid rgba(255,255,255,.3);
  }
  
  .card {
    width: 261.33px;
  }
  
  .container__team {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .team__description {
    width: 504px;
  }
  
  .team__words {
    font-size: 38px;
    line-height: 46px;
  }
  
  .img__border {
    width: 400px;
    height: 528px;
    border: none;
    border-radius: 12px 0px 0px 12px;
  }
  
  .card__publications {
    min-width: 281.33px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  }
  
  @media screen and (min-width: 1121px) {
    .block {
      width: 450px;
    }
  
    .footer__content {
      justify-content: flex-end;
    }
  }
  
  @media screen and (min-width: $dekstop) {
  
  .content-description {
    padding-top: 43px;
    padding-bottom: 43px;
    width: 641px;
  }
  
  .card {
    width: 400px;
  }
  
  .img__border {
    width: 400px;
    height: 344px;
  }
  
  .team__description {
    width: 920px;
  }
  
  .back_blue {
    width: 360px;
  }
  
  .block {
    width: 550px;
  }
  
  .note__hover:hover::after {
    content: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L6 5.5L1.5 10' stroke='%23F0145A' stroke-width='2'/%3E%3C/svg%3E");
  }

  .note__hover:hover {
    color: #F0145A;
  }

  .header-menu-item:hover{
    border-bottom: 2px solid #FFFFFF;
  }

  .content-list-item:hover {
    color: #F0145A;
  }
  
  .footer__mail:hover {
    color: #F0145A;
  }
  
  }
  
  @media screen and (min-width: 1812px) {
    .block {
      width: 650px;
    }
  }
  
  @media screen and (min-width: $dekstop-hd) {
  .header--container {
    padding-left: 160px;
    padding-right: 160px;
  }
  
  .content-description {
    width: 861px;
  }
  
  .card {
    width: 493px;
  }
  
  .section__services {
    padding-left: 160px;
    padding-right: 160px;
  }
  
  .img__border {
    width: 400px;
    height: 298px;
  }
  
  .team__description{
    width: 1200px;
  }
  
  .back_blue {
    width: 430px;
  }
  
  .section__company {
    padding-bottom: 60px;
  }
  
  .container__company {
    border-radius: 12px;
    margin: 0 100px;
    overflow: hidden;
  }
  
  .section__publications {
    padding-left: 160px;
    padding-right: 160px;
  }
  
  .footer {
    padding-left: 160px;
    padding-right: 160px;
  }
  }