@use '../utils/variables.scss' as *;

.section__services {
  padding: 30px;
  border-radius: 0px 0px 12px 12px;
}

.note {
  color: $color-active-regular;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.services__card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 315px;
}

.card__img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 30px;
}

.card__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: $color-active-regular;
}

.card__description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.shadow {
  position: relative;
  min-height: 300px;

  &::before {
    position: absolute;
    height: 10px;
    bottom: -10px;
    left: 50%;
    width: calc(100% - 40px);
    transform: translateX(-50%);
    

    border-radius: 0px 0px 12px 12px;
    content: "";
    background-color: #cacadb;
  }
  
    &::after {
    position: absolute;
    height: 10px;
    bottom: -20px;
    left: 50%;
    width: calc(100% - 80px);
    transform: translateX(-50%);

    border-radius: 0px 0px 12px 12px;
    content: "";
    background-color: #E7E7F2;
  }

  .note::after {
    content: url(../img/Vector.svg);
    margin-left: 5.5px;
  }
}
