@use '../utils/variables.scss' as *;

.section__company {
  padding-top: 30px;
}

.container__company {
  display: flex;
  flex-wrap: wrap;
}

.note__company {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  color: $color-active-regular;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}

.back_blue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #1C4280;
}

.back__wannabiz {
  background-color: #143646;
}

.back__tapgerine {
  background-color: #F48B30;
}

.back__3dlook {
  background-color: #9E4DC3;
}

.back__orangear {
  background-color: #FD9339;
}

.back__adtelligent {
  background-color: #E2E2E4;
}

.back__ecolease {
  background-color: #DCF3F9;
}

.back__clickyy {
  background-color: #C71C36;
}

.back__infra {
  background-color: #EAEAEA;
}

.back__city {
  background-color: #282240;
}

.back__artprint {
  background-color: #1D4568;
}

.back__card {
  background-color: #000000;
}

.logo__none {
  display: none;
}
