.section__company {
  padding-top: 30px;
}

.container__company {
  display: flex;
  flex-wrap: wrap;
}

.note__company {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  color: $color-active-regular;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}