.footer {
  background: #F5F5FA;
  padding: 30px;
  text-align: center;
}

.footer__container {
  display: flex;
  flex-direction: column;
  
  border-top: 3px solid #E6E6F0;
}

.footer__adress {
  margin: 0;
  padding-top: 30px;
  font-size: 16px;
  line-height: 20px;
  ;
  color: #323264;
}

.img__face {
  margin-top: 21px;
  margin-bottom: 10px;
}


.footer__number {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
}

.footer__mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.notes {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 1px;
  text-transform: uppercase;

  /* Active / Regular */

  color: #24A3FF;
}

.footer__note {
  margin: 0;
  margin-top: 30px;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #B3B3BA;
}